.hero {
    display: grid;
    text-align: center;
    place-items: center;
    gap: var(--clamp-base);
}

.hero h1 {
    font-size: clamp(2.25rem, 2.0227rem + 1.1364vw, 2.875rem);
    margin-bottom: 0;
}

.hero span {
    font-weight: var(--fw-regular);
}

.hero__img {
    width: clamp(9.375rem, 7.1023rem + 11.3636vw, 15.625rem);
    border-radius: var(--size-small-base);
}

.about,
.about__article,
.projects,
.contact {
    display: grid;
    gap: var(--clamp-2-base);
}

.about h2,
.projects__heading,
.contact h2 {
    margin-bottom: var(--clamp-3-base);
}

/* About Section  */
.about__contents {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: var(--clamp-5-base);
}

.about__img {
    width: clamp(15.625rem, 12.2159rem + 17.0455vw, 25rem);
    border-radius: var(--size-small-base);
}

.about__list li {
    list-style-type: disc;
    margin-left: var(--clamp-2-base);
}

.about__list li:not(:last-child) {
    margin-bottom: var(--size-small-base);
}

/* Projects Section  */
.projects__heading h2 {
    margin-bottom: var(--size-small-base);
}

.projects__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--clamp-5-base);
}

.projects__card * {
    font-size: var(--size-base);
}

.projects__card {
    border: var(--border);
    border-radius: var(--size-small-base);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-top: var(--size-small-l) solid var(--accent-2);
    transition: var(--transition);
}

.projects__card:hover,
.projects__card:focus-visible {
    background-color: var(--light-base);
    border-color: var(--accent-2);
}

.dark-mode .projects__card:hover,
.dark-mode .projects__card:focus-visible {
    background-color: var(--light-opacity);
    border-color: var(--accent-2);
}

.projects__img {
    width: 100%;
}

.project__title {
    font-size: var(--fz-clamp-h6);
    text-align: center;
}

.project__list {
    display: grid;
    gap: var(--size-small-base);
}

.project__list li:not(:first-child) {
    list-style-type: disc;
    margin-left: var(--clamp-2-base);
}

.project__btn {
    margin-top: auto;
    margin-inline: auto;
}

/* Contact Section  */
.contact__media {
    display: grid;
    text-align: left;
    width: max-content;
    margin-inline: auto;
}

/* 768px  */
@media(max-width: 48em) {
    .about__contents {
        flex-direction: column;
    }

    .about__img {
        margin-inline: auto;
    }
}