.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 888;
    background-color: transparent;
    backdrop-filter: blur(var(--size-2-base));
}

.nav {
    height: var(--clamp-7-xl);
    padding-block: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--clamp-2-xl);
    font-weight: var(--fw-medium);
    color: inherit;
    transition: var(--transition);
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0rem, 3vw, var(--size-3-base));
}

.nav__link {
    font-size: var(--fz-clamp-large);
    color: inherit;
    transition: var(--transition);
}

.nav__link:is(:hover, :focus-visible) {
    text-decoration: underline;
    text-underline-offset: var(--size-x-small);
}

#themeToggle {
    border: 0;
    background: none;
    cursor: pointer;
}

.nav__mobile-btn {
    display: none;
    cursor: pointer;
}

/* Tablet 600px  */
@media (max-width: 37.5em) {
    h2 {
        text-align: center;
    }

    #themeToggle {
        margin-inline: auto 1em;
    }

    .nav__mobile-btn {
        display: block;
        padding: var(--size-xx-small);
        border-radius: var(--size-x-small);
        display: grid;
        place-items: center;
        background-image: var(--gradient);
    }

    .nav__mobile-btn svg:first-child {
        display: block;
    }

    .nav__mobile-btn svg:last-child {
        display: none;
    }

    .nav__menu {
        position: fixed;
        width: 75%;
        top: var(--clamp-7-xl);
        right: 0;
        background-color: var(--dark-base);
        background-image: var(--gradient);
        padding-top: var(--size-5-base);
        flex-direction: column;
        justify-content: start;
        min-height: 100dvh;
        transition: var(--transition);
        transform: translateX(100%);
        z-index: 10;
    }

    .nav__menu.active {
        transform: translateX(0%);
    }

    .nav__menu.active~.nav__mobile-btn svg:first-child {
        display: none;
    }

    .nav__menu.active~.nav__mobile-btn svg:last-child {
        display: block;
    }

    .nav__menu li {
        width: 100%;
    }

    .nav__link {
        display: block;
        color: var(--light-base);
        padding-block: 1em;
        text-align: center;
    }
}